/wp
/vendor
/deploy
wp-content/*.php
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/*
!wp-content/plugins/kristoffe*/
wp-content/themes/*
!wp-content/themes/kristoffe*/
!wp-content/mu-plugins/
wp-config.php

composer.lock
*.log
._*
.buildpath
.project
.settings
*.DS_Store
Thumbs.db
.vscode
.idea/
.tmp/

wp-content/themes/kristoffe-fr/.sass-cache
wp-content/themes/kristoffe-fr/bower_components
wp-content/themes/kristoffe-fr/node_modules
