@mixin margin($area: 'bottom', $size: 'small') {
	@if ($area == 'bottom') {
		@if ($size == 'small') {
			margin-bottom: rem(25);
		}

		@if ($size == 'normal') {
			margin-bottom: rem(50);
		}

		@if ($size == 'large') {
			margin-bottom: rem(120);
		}
	}

	@if ($area == 'top') {
		@if ($size == 'small') {
			margin-top: rem(25);
		}

		@if ($size == 'normal') {
			margin-top: rem(50);
		}

		@if ($size == 'large') {
			margin-top: rem(120);
		}
	}
}

@mixin padding($area: 'top-bottom', $size: 'normal') {
	@if ($area == 'top-bottom') {
		@if ($size == 'small') {
			padding-top: rem(25);
			padding-bottom: rem(25);
		}

		@if ($size == 'normal') {
			padding-top: rem(50);
			padding-bottom: rem(50);
		}

		@if ($size == 'large') {
			padding-top: rem(120);
			padding-bottom: rem(120);
		}

		@if ($size == 'xlarge') {
			padding-top: rem(180);
			padding-bottom: rem(180);
		}
	}

	@if ($area == 'top') {
		@if ($size == 'small') {
			padding-top: rem(25);
		}

		@if ($size == 'normal') {
			padding-top: rem(50);
		}

		@if ($size == 'large') {
			padding-top: rem(120);
		}

		@if ($size == 'xlarge') {
			padding-top: rem(180);
		}
	}

	@if ($area == 'bottom') {
		@if ($size == 'small') {
			padding-bottom: rem(25);
		}

		@if ($size == 'normal') {
			padding-bottom: rem(50);
		}

		@if ($size == 'large') {
			padding-bottom: rem(120);
		}

		@if ($size == 'xlarge') {
			padding-bottom: rem(180);
		}
	}

	@if ($area == 'left-right') {
		@if ($size == 'small') {
			padding-left: rem(25);
			padding-right: rem(25);
		}

		@if ($size == 'normal') {
			padding-left: rem(50);
			padding-right: rem(50);
		}

		@if ($size == 'large') {
			padding-left: rem(120);
			padding-right: rem(120);
		}
	}

	@if ($area == 'left') {
		@if ($size == 'small') {
			padding-left: rem(25);
		}

		@if ($size == 'normal') {
			padding-left: rem(50);
		}

		@if ($size == 'large') {
			padding-left: rem(120);
		}
	}

	@if ($area == 'right') {
		@if ($size == 'small') {
			padding-right: rem(25);
		}

		@if ($size == 'normal') {
			padding-right: rem(50);
		}

		@if ($size == 'large') {
			padding-right: rem(120);
		}
	}
}
