@mixin title($size: 'normal') {
	font-family: 'Arvo';

	@if ($size == 'small') {
		font-size: rem(13);
	}

	@if ($size == 'normal') {
		font-size: rem(24);
		margin-bottom: rem(20);
	}

	@if ($size == 'large') {
		font-size: rem(50);
		line-height: rem(70);
	}
}

@mixin text($size: 'normal', $weight: 'normal') {
	font-family: 'maison_neuebook';

	@if ($size == 'small') {
		font-size: rem(13);
	}

	@if ($size == 'normal') {
		font-size: rem(16);
	}

	@if ($size == 'large') {
		font-size: rem(24);
	}

	@if ($weight == 'bold') {
		font-family: 'maison_neuebold';
	}
}
