@mixin title($size: 'normal') {
	font-family: 'Heebo';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1rem;

	@if ($size == 'small') {
		font-size: rem(20);
		text-transform: none;
	}

	@if ($size == 'normal') {
		font-size: rem(28);
		margin-bottom: rem(20);
	}

	@if ($size == 'large') {
		font-size: rem(50);
		line-height: rem(70);
	}
}

@mixin text($size: 'normal', $weight: 'normal') {
	font-family: 'Heebo';
	font-weight: 300;
	letter-spacing: 0.08rem;

	@if ($size == 'small') {
		font-size: rem(13);
		line-height: rem(20);
	}

	@if ($size == 'normal') {
		font-size: rem(16);
		line-height: rem(24);
	}

	@if ($size == 'large') {
		font-size: rem(24);
		line-height: rem(32);
	}
}
