.single,
.page,
.blog,
.archive {
	&, p {
		@include text('large');

		&.has-small-font-size {
			@include text;
		}
	}

	main.main {
		@include padding('bottom', 'large');

		ul {
			@include padding('left');

			li {
				list-style-type: disc;
			}
		}

		ol {
			list-style: decimal;
			@include padding('left');
		}
	}

	.wp-block-group {
		&__inner-container {
			padding-left: rem(190);
			padding-right: rem(190);

			@include media($mobile) {
				padding-left: rem(20);
				padding-right: rem(20);
			}
		}
	}

	&:not(.home) {
		h2 {
			@include title('large');
			font-size: rem(65);
			@include padding('top', 'large');

			@include media($mobile) {
				font-size: rem(40);
			}
		}
	}

	.wp-block-column {
		.wp-block-button .wp-block-button__link {
			@include button('small', 'green');
		}
	}

	.wp-block-image {
		margin-bottom: rem(16);

		figcaption {
			@include text('small');
		}
	}

	.wp-block-embed-spotify {
		&, iframe {
			max-height: rem(380);
			overflow: hidden;
		}
	}
}

.single-post {
	.main-content {
		background-color: $white;

		main.main {
			padding-left: rem(190);
			padding-right: rem(190);

			@include media($mobile) {
				margin-top: 0;
				padding-left: rem(20);
				padding-right: rem(20);
			}
		}
	}

	main.main {
		@include grid;
		margin-top: rem(125);

		figure,
		img {
			max-width: 100%;
			height: auto;
		}

		.meta {
			@include grid;
			@include padding('top');

			&, * {
				@include text('small');
				color: $warmgray;
			}

			ul {
				display: inline-block;
			}

			li {
				list-style-type: none;
			}

			a {
				text-decoration: none;
			}

			.date {
				display: inline-block;

				&:before {
					content: '\2022';
					margin: 0 rem(6);
				}
			}
		}
	}
}
