.list-categories {
	@include padding('top-bottom');

	main.main & {
		ul.categories {
			@include flex;
			justify-content: space-between;
			list-style: none;
			padding-left: 0;
		}

		li.term {
			width: 17%;
			list-style-type: none;

			a {
				@include button;
				padding: rem(15) rem(15) rem(10);
				color: $white;
				display: block;
				text-align: center;
			}

			@include media($mobile) {
				width: 47%;
				@include margin('bottom');

				a {
					padding: rem(8) rem(8) rem(5);
				}
			}
		}
	}
}
