footer.footer {
	background-color: $lightgray;
	@include padding('top-bottom', 'large');

	.widgettitle {
		display: none;
	}

	#sidebar {
		@include flex;
		align-items: flex-start;
	}

	.widget {
		&:nth-child(1) {
			width: 50%;
			@include margin('bottom');

			@include media($mobile) {
				width: 100%;
				text-align: center;
				margin-bottom: 0;
			}
		}

		&:nth-child(2) {
			width: 50%;
			@include margin('bottom');
			color: $mediumgray;
			text-align: right;

			p {
				@include title('large');
				font-size: rem(40);
			}

			@include media($mobile) {
				width: 100%;
				text-align: center;

				p {
					@include title;
					margin-bottom: 0;
				}
			}
		}

		&:nth-child(3) {
			width: 20%;

			li {
				line-height: normal;
			}

			a {
				color: $black;
				@include text('small');
				text-decoration: underline;
			}

			@include media($mobile) {
				width: 45%;
				@include margin('bottom', 'large');

				li {
					line-height: rem(18)
				}
			}
		}

		&:nth-child(4) {
			width: 20%;

			p {
				@include text('small');
			}

			a {
				color: $black;
				@include text('small');
				text-decoration: underline;
			}

			@include media($mobile) {
				width: 45%;
				@include margin('bottom', 'large');
			}
		}

		&:nth-child(5) {
			width: 60%;
			text-align: right;

			@include media($mobile) {
				width: 100%;
				@include margin('bottom', 'large');
				text-align: center;
			}
		}

		&:nth-child(6) {
			width: 100%;

			@include media($mobile) {
				width: 100%;
			}

			.menu {
				display: flex;
				justify-content: center;
			}

			.menu-item {
				a {
					font-size: 0;
					color: $black;
					text-decoration: none;

					&:before {
						font-size: rem(20);
					}
				}

				&.facebook a {
					@include icons( $symbol: '\F09A', $margin: '0 4px' );
				}

				&.instagram a {
					@include icons( $symbol: '\F16D', $margin: '0 4px' );
				}

				&.twitter a {
					@include icons( $symbol: '\F099', $margin: '0 4px' );
				}

				&.spotify a {
					@include icons( $symbol: '\F1BC', $margin: '0 4px' );
				}

				&.youtube a {
					@include icons( $symbol: '\F16A', $margin: '0 4px' );
				}
			}
		}
	}
}
