header.header {
	background-color: $green;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	height: rem(125);

	.admin-bar & {
		top: rem(32);
	}

	.inner-grid {
		@include padding('top-bottom', 'normal');
		@include flex;
		justify-content: space-between;
	}

	#logo {
		width: rem(275);

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.description {
		@include text('small');
		color: $pink;
		margin-top: rem(6);
		display: block;
	}

	.menu {
		@include flex;
		position: relative;
	}

	.menu-item {
		@include padding('left', 'normal');
		@include padding('top-bottom', 'normal');
		position: relative;

		&.button {
			@include button('small');
			@include margin('left', 'normal');
		}

		a {
			@include text;
			color: $white;
		}
	}

	.sub-menu {
		position: absolute;
		z-index: 10;
		top: rem(60);
		left: rem(10);
		background-color: $black;
		padding: rem(15) rem(25);
		width: max-content;
		display: none;

		.menu-item {
			padding: 0;
			margin-bottom: rem(5);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.menu-item-has-children {
		&:hover {
			.sub-menu {
				display: block;
			}
		}
	}
}
