.latest-posts {
	.page:not(.home) & {
		width: $grid-width;
		margin-left: - rem(190);

		@include media($mobile) {
			width: 100%;
			margin-left: 0;
		}
	}

	.content {
		@include flex;
		align-items: flex-start;
		justify-content: space-between;
		@include padding('bottom', 'large');
	}

	.post {
		width: 30%;

		.blog &,
		.archive &,
		.page-futuretalks & {
			@include margin('bottom', 'large');
		}

		@include media($mobile) {
			width: 45%;

			.home & {
				&:nth-last-child(n+3) {
					display: none;
				}
			}

			.blog &,
			.archive & {
				width: 100%;
			}
		}
	}

	.featured-image {
		width: 100%;
		@include margin('bottom', 'normal');
	}

	.title {
		h3 {
			@include title('small');
			margin: 0;
		}

		a {
			color: $black;
			text-decoration: none;
			font-weight: 500;
		}
	}

	.excerpt p {
		@include text;
	}

	.meta {
		&, * {
			@include text('small');
			color: $warmgray;
		}

		a {
			text-decoration: none;
		}

		ul.categories {
			display: inline-block;
			padding-left: 0;

			li {
				list-style-type: none;
			}
		}

		.date {
			display: inline-block;

			&:before {
				content: '\2022';
				margin: 0 rem(6);
			}
		}
	}
}
