.wp-block-group #mc_embed_signup {
	input.email {
		@include text;
		color: $lightgray;
		padding: rem(15) rem(15) rem(10);
		height: auto;
		border: rem(2) solid $white;
		border-radius: 0;

		@include media($mobile) {
			padding: rem(8) rem(8) rem(5);
			margin: 0 auto;
			@include margin('bottom');
			max-width: 80%;
		}

		&:focus {
			color: $black;
		}
	}

	.button {
		@include text;
		color: $white;
		background-color: $green;
		text-transform: uppercase;
		padding: rem(15) rem(37) rem(10);
		border-radius: 0;
		border: rem(2) solid $white;
		height: auto;
		margin-left: rem(10);

		@include media($mobile) {
			padding: rem(8) rem(25) rem(5);
			margin: 0 auto;
			width: rem(180);
		}
	}
}
