@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,900');

@font-face {
  font-family: 'social';
  src: url('../fonts/social/social.eot?5000520');
  src: url('../fonts/social/social.eot?5000520#iefix') format('embedded-opentype'),
       url('../fonts/social/social.woff2?5000520') format('woff2'),
       url('../fonts/social/social.woff?5000520') format('woff'),
       url('../fonts/social/social.ttf?5000520') format('truetype'),
       url('../fonts/social/social.svg?5000520#social') format('svg');
  font-weight: normal;
  font-style: normal;
}
