/* Color palette */
$black:      #000000;
$green:      #495332;
$lightgray:  #CBCBC3;
$mediumgray: #B0B1AA;
$pink:       #F1B8CE;
$warmgray:   #74766C;
$white:      #FFFFFF;

/* Grid */
$grid-width: 71.25rem;

/* Breakpoints */
$mobile:  '(max-width: 768px)';
$tablet:  '(max-width: 1024px)';
$desktop: '(max-width: 1440px)';
