.page.home {
	main.main {
		padding-top: 0;
		padding-bottom: 0;
	}

	.wp-block-group {
		@include padding('top-bottom', 'xlarge');

		&__inner-container {
			padding-left: 0;
			padding-right: 0;

			@include media($mobile) {
				padding-left: rem(20);
				padding-right: rem(20);
			}
		}
	}

	.wp-block-cover {
		min-height: calc(85vh - #{rem(72)});

		&__inner-container {
			align-self: flex-end;
			@include padding('bottom', 'large');
			@include text('xlarge');

			@include media($mobile) {
				@include text('large');
			}
		}

		.wp-block-button__link {
			@include button('large');
		}
	}
}
