.page.home {
	main.main {
		padding-top: 0;
		padding-bottom: 0;
	}

	.wp-block-group {
		@include padding('top-bottom', 'xlarge');

		&__inner-container {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.wp-block-cover {
		min-height: calc(90vh - #{rem(125)});

		&__inner-container {
			align-self: flex-end;
			@include padding('bottom', 'large');
			@include text('xlarge');
		}

		.wp-block-button__link {
			@include button('large');
		}
	}
}
