.single,
.page,
.blog {
	main.main {
		@include padding('bottom', 'large');
	}

	.wp-block-group {
		&__inner-container {
			padding-left: rem(190);
			padding-right: rem(190);
		}
	}

	&:not(.home) {
		h2 {
			@include title('large');
			font-size: rem(65);
			@include padding('top', 'large');
			text-align: center;
		}
	}

	.wp-block-embed-spotify {
		&, iframe {
			max-height: rem(380);
			overflow: hidden;
		}
	}
}

.single {
	.meta {
		@include grid;
		padding-left: rem(190);
		padding-right: rem(190);
		@include padding('top');
	}

	.meta {
		&, * {
			@include text('small');
			color: $warmgray;
		}

		ul {
			display: inline-block;
		}

		.date {
			display: inline-block;

			&:before {
				content: '\2022';
				margin: 0 rem(6);
			}
		}
	}
}
