.artists {

	@include media($desktop) {
		width: $grid-width;
		margin-left: - rem(190);
	}

	@include media($mobile) {
		width: 100%;
		margin-left: 0;
	}

	.content {
		@include flex;
		align-items: flex-start;
		justify-content: space-between;
		@include padding('top-bottom', 'large');

		&::after {
			content: '';
			width: 30%;
		}
	}

	.post {
		width: 30%;

		@include media($mobile) {
			width: 45%;
		}
	}

	.featured-image {
		width: 100%;
		@include margin('bottom', 'small');
	}

	.title {
		h3 {
			@include title('small');
			@include margin('bottom', 'normal');
		}

		a {
			color: $black;
			text-decoration: none;
		}
	}
}
