header.header {
	background-color: $green;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	height: rem(125);

	@include media($mobile) {
		height: auto;
	}

	.admin-bar & {
		top: rem(32);

		@include media($mobile) {
			top: rem(46);
		}
	}

	.inner-grid {
		@include padding('top-bottom', 'normal');
		@include flex;
		justify-content: space-between;
	}

	#logo {
		width: rem(275);

		img {
			max-width: 100%;
			height: auto;
		}

		a {
			text-decoration: none;
		}

		@include media($mobile) {
			width: auto;

			.wp-custom-header {
				height: rem(26);
			}

			img {
				max-width: rem(110);
			}
		}
	}

	.description {
		@include text('small');
		color: $pink;
		display: block;
	}

	.menu {
		@include flex;
		position: relative;
	}

	.menu-item {
		@include padding('left', 'normal');
		@include padding('top-bottom', 'normal');
		position: relative;

		&.button {
			padding-top: 0;
			padding-bottom: 0;

			a {
				display: block;
				@include button('small');
				line-height: rem(34);
				height: rem(46);
			}
		}

		a {
			@include text;
			color: $white;
			text-decoration: none;
		}
	}

	.sub-menu {
		position: absolute;
		z-index: 10;
		top: rem(60);
		left: rem(10);
		background-color: $black;
		padding: rem(15) rem(25);
		width: max-content;
		display: none;

		.menu-item {
			padding: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.menu-item-has-children {
		&:hover {
			.sub-menu {
				display: block;

				@include media($tablet) {
					display: none;
				}
			}
		}
	}

	#main-nav {
		@include media($tablet) {
			display: none;
		}

		.menu-open & {
			@include fill-container;
			position: fixed;
			left: auto;
			width: 100%;
			background-color: $white;
			z-index: 98;
			@include padding('top-bottom', 'large');
			@include padding('left-right', 'large');

			.menu {
				flex-direction: column;
				align-items: flex-start;

				> .menu-item:last-child {
					@include button;
					margin: 0;
					@include margin('top', 'small');
				}
			}

			.menu-item {
				@include margin('bottom', 'small');
				padding: 0;
				line-height: rem(24);

				a {
					color: $black;
					border: none;
					font-weight: 500;
				}

				&-has-children {
					> a {
						&:after {
							content: '\00BB';
							color: $mediumgray;
							@include text;
							font-weight: 500;
							@include margin('left', 'small');
						}
					}
				}
			}

			.sub-menu {
				position: relative;
				top: auto;
				left: auto;
				background-color: inherit;
				padding: 0;
			}
		}

		.drawer-open & {
			.menu > .menu-item {
				display: none;

				&.open {
					display: block;

					> a {
						display: none;
					}

					.sub-menu {
						display: block;
						padding-top: rem(40);
					}
				}
			}
		}
	}

	.mobile-menu {
		display: none;

		@include media($tablet) {
			display: block;
			z-index: 99;

			.burger {
				@include icons( $symbol: '\E801', $margin: '0px' );
				font-size: 0;
				color: $pink;

				&:before {
					font-size: 2rem;
				}

				.menu-open & {
					@include icons( $symbol: '\E800', $margin: '0px' );
					color: $black;
				}
			}
		}
	}

	.back-menu {
		display: none;

		.drawer-open & {
			display: block;
			z-index: 99;
			position: fixed;
			top: 0;
			left: 0;
			@include padding('top', 'large');
			@include padding('left', 'large');

			a {
				@include text;
				font-weight: 500;
				color: $mediumgray;
				text-decoration: none;

				&:before {
					content: '\00AB';
					@include margin('right', 'small');
				}
			}
		}
	}
}
